
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
  .nav-link:after {
    display:block;
    content: '';
    border-bottom: solid 3px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  a:hover:after { transform: scaleX(1); }

  .notification{
    margin-left: 1rem;
}
.bodyClassStyle{
    background-color:#DCDCDC;
}

.mainHeadLine{
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profilesection{
    
    background-color: whitesmoke;
    padding: 0.5rem;
    margin: 0rem;
    border-radius: 4px;
    /* background-color: #e3f2fd */

}
/* Profile Image on index page */

.profileImageIndex{
    margin: auto; 
}
.profileImageIndex img{
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

.profilecardBody{
    padding-top: 10px;
}

.profilecardBody p{
    padding-left: 0%;
    font-size: 12px;;
}

.TopPostSectionIndex{
    background-color: rgb(245, 245, 245);
    padding-left: 1rem;  
    padding-top: 5px;
    border-radius: 4px;
    padding-bottom: 5px;
}
.TopPostSectionIndex p{
    text-align: left;
    font-size: 14px;
}
.TopPostSectionIndex p span{
    color:#00CED1;
}
.topPostSubSection1{
    background-color: white;
    margin-top: 1rem;
    padding:0px;
    border-radius: 4px;
}
.topPostSubSection2{
    margin-top: 1rem;
    border: 1px solid;
    border-radius: 4px;
}
.topPostSubSection1 p:nth-child(2){
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.topPostSubSection1 p:nth-child(1){
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.topPostSubSection2 p:nth-child(2){
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.topPostSubSection2 p:nth-child(1){
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
